<div class="card mt-5">
    <div class="card-body">
        <div class="row">
            <h1 class="mt-4"><b>Lista Proveedores</b></h1>
            <hr>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClient">Nuevo Proveedor</button>                
        <hr>
        <div class="container">
            <form>
                <div class="form-group row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rut</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Pagina Web</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let proveedor of proveedores">
                                <td>{{proveedor.nombre}}</td>
                                <td>{{proveedor.rut}}</td>
                                <td>{{proveedor.direccion}}</td>
                                <td>{{proveedor.pagina_web}}</td>
                                <td><button class="btn btn-primary" (click)="loadData(proveedor)" data-bs-toggle="modal" data-bs-target="#editClient">Editar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal addClient -->
<div class="modal fade" id="addClient" tabindex="-1" aria-labelledby="addClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClientLabel">Nuevo Proveedor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su nombre" name="nombre" [(ngModel)]="newProveedor.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Ingrese su rut" name="rut" [(ngModel)]="newProveedor.rut">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su direccion" name="direccion" [(ngModel)]="newProveedor.direccion">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Pagina Web</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su pagina web" name="pagina_web" [(ngModel)]="newProveedor.pagina_web">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardar()">Guardar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal editClient -->
<div class="modal fade" id="editClient" tabindex="-1" aria-labelledby="editClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editClientLabel">Edit Client</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input *ngIf="detailProveedor" type="text" class="form-control" placeholder="Ingrese su(s) nombre(s)" name="nombre" [(ngModel)]="detailProveedor.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input *ngIf="detailProveedor" type="number" class="form-control" placeholder="Ingrese su rut" name="rut" [(ngModel)]="detailProveedor.rut">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input *ngIf="detailProveedor" type="text" class="form-control" placeholder="Ingrese su direccion" name="direccion" [(ngModel)]="detailProveedor.direccion">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Pagina web</label>
                <div class="col-sm-10">
                    <input *ngIf="detailProveedor" type="text" class="form-control" placeholder="Ingrese su direccion" name="pagina_web" [(ngModel)]="detailProveedor.pagina_web">
                </div>
            </div>
            <div class="container">
                <div class="alert alert-success" role="alert" [hidden]="alert">
                  <h4 class="alert-heading">Alerta!</h4>
                  <p>Datos incompletos, para registrar cliente debe completar los datos.</p>
                  <hr>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editProveedor()">Guardar</button>
        </div>
      </div>
    </div>
</div>
