<div class="container-sm">
    <div class="d-flex flex-row-reverse mt-4">
        <a routerLink="/venta">
            <button type="button"  class="btn btn-link btn-lg">Login</button>
        </a>
        <button type="button" class="btn btn-light btn-lg" (click)="scroll(content2)">Content 2</button>
        <button type="button" class="btn btn-light btn-lg" (click)="scroll(content1)">Content 1</button>
    </div>
    <main role="main" class="mt-5">
        <div class="mh-100 bg-ligth" style="height:700px">
            <div class="container-sm mb-5">
                <div class="row">
                    <div class="col-md-4 mt-5">
                        <h1 class="mt-5"><strong>Lorem Ipsum Design</strong></h1>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a routerLink="/venta">
                            <button type="button" onclick="" class=" btn btn-primary"><strong>LOGIN</strong></button>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <img class="img-fluid" src="https://i.postimg.cc/qMQHB2xG/Captura-de-pantalla-2022-09-05-230648.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div #content1>
        <app-content1></app-content1>
        </div>
        <div #content2>
        <app-content2></app-content2>
        </div>
    </main>
</div>