<div class="card mt-5">
    <div class="card-body">
        <div class="row">
            <h1 class="mt-4"><b>Lista Productos</b></h1>
            <hr>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClient">Nuevo producto</button>                
        <hr>
        <div class="container">
            <form>
                <div class="form-group row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos">
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.precio}}</td>
                                <td>{{producto.stock}}</td>
                                <td><button class="btn btn-primary" (click)="loadData(producto)" data-bs-toggle="modal" data-bs-target="#editClient">Editar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal addClient -->
<div class="modal fade" id="addClient" tabindex="-1" aria-labelledby="addClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClientLabel">Nuevo Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese el nombre" name="nombre" [(ngModel)]="newProduct.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Ingrese el precio" name="apellidos" [(ngModel)]="newProduct.precio">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Ingrese el stock" name="rut" [(ngModel)]="newProduct.stock">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Proveedor</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" (change) = "selectProveedor(t.value)" #t>
                        <option value="0" selected>Select Proveedor</option>
                        <option *ngFor="let proveedor of proveedors" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                      </select>
                </div>
            </div>
            <div class="container">
                <div class="alert alert-success" role="alert" [hidden]="alert">
                  <h4 class="alert-heading">Alerta!</h4>
                  <p>Datos incompletos, para registrar cliente debe completar los datos.</p>
                  <hr>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardar()">Guardar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal editClient -->
<div class="modal fade" id="editClient" tabindex="-1" aria-labelledby="editClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editClientLabel">Editar Producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input *ngIf="detailProduct" type="text" class="form-control" name="nombre" [(ngModel)]="detailProduct.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input *ngIf="detailProduct" type="number" class="form-control" name="precio" [(ngModel)]="detailProduct.precio">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                    <input *ngIf="detailProduct" type="number" class="form-control" name="stock" [(ngModel)]="detailProduct.stock">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Proveedor</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" (change) = "selectProveedor(t.value)" #t>
                        <ng-container *ngFor="let proveedor of proveedors">
                            <option *ngIf="detailProduct.id_proveedor==proveedor.id" selected value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                            <option *ngIf="detailProduct.id_proveedor!=proveedor.id" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editProducto()">Guardar</button>
        </div>
      </div>
    </div>
</div>
