<div class="card mt-5">
    <div class="card-body">
        <div class="row">
            <h1 class="mt-4"><b>Lista Ventas</b></h1>
            <hr>
        </div>              
        <hr>
        <div class="container">
            <form>
                <div class="form-group row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let venta of ventas">
                                <td>{{getNameVendedor(venta.id_vendedor)}}</td>
                                <td>{{getNameCliente(venta.id_cliente)}}</td>
                                <td>{{venta.fecha}}</td>
                                <td>{{venta.total}}</td>
                                <td><button class="btn btn-primary" (click)="loadData(venta)" data-bs-toggle="modal" data-bs-target="#detailVenta">Detalle</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal detailVenta -->
<div class="modal fade" id="detailVenta" tabindex="-1" aria-labelledby="detailVentaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailVentaLabel">Detalle Venta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Vendedor</label>
                <div class="col-sm-10">
                    <input *ngIf="venta" type="text" disabled class="form-control" name="nombre" [(ngModel)]="venta.vendedor">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Cliente</label>
                <div class="col-sm-10">
                    <input *ngIf="venta" type="text" disabled class="form-control" name="apellidos" [(ngModel)]="venta.cliente">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-sm-10">
                    <input *ngIf="venta" type="date" disabled class="form-control" name="rut" [(ngModel)]="venta.fecha">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Total</label>
                <div class="col-sm-10">
                    <input *ngIf="venta" type="number" disabled class="form-control" name="telefono" [(ngModel)]="venta.total">
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let venta of detalleVenta">
                                <td>{{venta.nombre}}</td>
                                <td>{{venta.cantidad}}</td>
                                <td>{{venta.subtotal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
</div>

