<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <div class="row">
        <h1 class="mt-4"><b>NEW SALE</b></h1>
        <hr>
      </div>
      <div class="row">
        <h3 class="mt-4">Document</h3>
        <hr>
      </div>
      <form>
        <div class="form-inline row text-secondary">
          <div class="col-sm-5">
            <label for="staticEmail" class="col-form-label">Client</label>
            <div class="input-group mb-2 mr-sm-2">            
              <input *ngIf="detailClient" type="text" class="form-control" name="nombre" [(ngModel)]="detailClient.nombre+' '+detailClient.apellidos">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClient">+</button>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <label for="staticEmail" class="col-form-label">Branch office</label>          
            <select class="form-select" aria-label="Default select example" id="selectAction" (change) = "selectOffice(t.value)" #t>
              <option value="0" selected>Select Branch office</option>
              <option value="1">Bolivia</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="staticEmail" class="col-form-label">Currency</label>          
            <input disabled *ngIf="selected=='1'" name="currency" type="text" class="form-control" id="inputPassword" value="Bs.">
          </div>
        </div>
      </form>
      <div class="row">
        <h3 class="mt-5">Details</h3>
        <hr>
      </div>
      <form>
        <div class="form-group row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detailVenta of detailVentas">
                <td>{{detailVenta.nombre}}</td>
                <td>{{detailVenta.cantidad}}</td>
                <td>Bs. {{detailVenta.precio}}</td>
                <td>Bs. {{detailVenta.subtotal}}</td>
                <td><button class="btn btn-primary" (click)="deleteProducto(detailVenta)">X</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group row">
          <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct">Add</button>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-end mt-3">
        <div class="row text-secondary">
          <div class="col-md-4">
            <label>Total</label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="totalVenta">        
          </div>
        </div>          
      </div>
      <hr>
      <div class="d-flex justify-content-end mt-3">
        <div class="row">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addVendedor">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal addClient -->
<div class="modal fade" id="addClient" tabindex="-1" aria-labelledby="addClientLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addClientLabel">List Clients</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Rut</th>
              <th scope="col">Telefono</th>
              <th scope="col">Direccion</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellidos}}</td>
              <td>{{cliente.rut}}</td>
              <td>{{cliente.telefono}}</td>
              <td>{{cliente.direccion}}</td>
              <td><button class="btn btn-primary" (click)="loadDataClient(cliente)" data-bs-dismiss="modal">+</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal addProduct -->
<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductLabel">List Products</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{producto.nombre}}</td>
              <td>Bs. {{producto.precio}}</td>
              <td>{{producto.stock}}</td>
              <td><button [disabled]="producto.stock == 0" class="btn btn-primary" (click)="addProduct(producto)">+</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal addVendedor -->
<div class="modal fade" id="addVendedor" tabindex="-1" aria-labelledby="addVendedorLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addVendedorLabel">List Products</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-sm-5">
          <label for="staticEmail" class="col-form-label">Vendedor</label>          
          <select class="form-select" aria-label="Default select example" (change) = "selectVendedor(ts.value)" #ts>
            <option value="0" selected>Select Vendedor</option>
            <option *ngFor="let vendedor of vendedores" value="{{vendedor.id}}">{{vendedor.nombre+' '+vendedor.apellidos}}</option>
          </select>
        </div>        
      </div>
      <div class="container">
        <div class="alert alert-success" role="alert" [hidden]="alert">
          <h4 class="alert-heading">Alerta!</h4>
          <p>Datos incompletos, para guardar la venta, debe completar los datos.</p>
          <hr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>