<div class="mh-100" style="height:650px">
    <div class="card bg-light mb-3 border-white mt-5">
        <div class="d-flex justify-content-end mt-5">
            <div class="col-md-4 mb-5">
                <h1 class="text-right"><strong>Content 2</strong></h1>
                <p class="text-secondary text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            <img class="img-fluid" src="https://i.postimg.cc/qB2xKTqm/Captura-de-pantalla-2022-09-05-232957.png">
                        </div>
                        <div class="card-body text-secondary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            <img class="img-fluid" src="https://i.postimg.cc/qB2xKTqm/Captura-de-pantalla-2022-09-05-232957.png">
                        </div>
                        <div class="card-body text-primary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">
                            <img class="img-fluid" src="https://i.postimg.cc/qB2xKTqm/Captura-de-pantalla-2022-09-05-232957.png">
                        </div>
                        <div class="card-body text-secondary">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4 bg-primary"></div>
</div>
