<div class="card mt-5">
    <div class="card-body">
        <div class="row">
            <h1 class="mt-4"><b>Lista Vendedores</b></h1>
            <hr>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClient">Nuevo vendedor</button>                
        <hr>
        <div class="container">
            <form>
                <div class="form-group row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Rut</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Direccion</th>
                            <th scope="col">Fecha Nacimiento</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vendedor of vendedores">
                                <td>{{vendedor.nombre}}</td>
                                <td>{{vendedor.apellidos}}</td>
                                <td>{{vendedor.rut}}</td>
                                <td>{{vendedor.telefono}}</td>
                                <td>{{vendedor.direccion}}</td>
                                <td>{{vendedor.fecha_nac}}</td>
                                <td>{{vendedor.email}}</td>
                                <td><button class="btn btn-primary" (click)="loadData(vendedor)" data-bs-toggle="modal" data-bs-target="#editClient">Edit</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal addClient -->
<div class="modal fade" id="addClient" tabindex="-1" aria-labelledby="addClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClientLabel">Nuevo Vendedor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre(s)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su(s) nombre(s)" name="nombre" [(ngModel)]="newVendedor.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Apellido(s)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su(s) apellido(s)" name="apellidos" [(ngModel)]="newVendedor.apellidos">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Ingrese su rut" name="rut" [(ngModel)]="newVendedor.rut">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Ingrese su telefono" name="telefono" [(ngModel)]="newVendedor.telefono">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su direccion" name="direccion" [(ngModel)]="newVendedor.direccion">
                </div>
            </div>            
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Ingrese su fecha de nacimiento" name="fecha_nac" [(ngModel)]="newVendedor.fecha_nac">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Ingrese su email" name="email" [(ngModel)]="newVendedor.email">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardar()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal editClient -->
<div class="modal fade" id="editClient" tabindex="-1" aria-labelledby="editClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editClientLabel">Editar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre(s)</label>
                <div class="col-sm-10">
                    <input *ngIf="detailVendedor" type="text" class="form-control" placeholder="Ingrese su(s) nombre(s)" name="nombre" [(ngModel)]="detailVendedor.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Apellido(s)</label>
                <div class="col-sm-10">
                    <input *ngIf="detailVendedor" type="text" class="form-control" placeholder="Ingrese su(s) apellido(s)" name="apellidos" [(ngModel)]="detailVendedor.apellidos">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input *ngIf="detailVendedor" type="number" class="form-control" placeholder="Ingrese su rut" name="rut" [(ngModel)]="detailVendedor.rut">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input *ngIf="detailVendedor" type="number" class="form-control" placeholder="Ingrese su telefono" name="telefono" [(ngModel)]="detailVendedor.telefono">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input *ngIf="detailVendedor" type="text" class="form-control" placeholder="Ingrese su direccion" name="direccion" [(ngModel)]="detailVendedor.direccion">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
                <div class="col-sm-10">
                    <input *ngIf="detailVendedor" type="date" class="form-control" placeholder="Ingrese su fecha de nacimiento" name="fecha_nac" [(ngModel)]="detailVendedor.fecha_nac">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input *ngIf="detailVendedor" type="email" class="form-control" placeholder="Ingrese su email" name="email" [(ngModel)]="detailVendedor.email">
                </div>
            </div>
            <div class="container">
                <div class="alert alert-success" role="alert" [hidden]="alert">
                  <h4 class="alert-heading">Alerta!</h4>
                  <p>Datos incompletos, para registrar cliente debe completar los datos.</p>
                  <hr>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editVendedor()">Save changes</button>
        </div>
      </div>
    </div>
</div>

