<div class="mh-100 bg-ligth" style="height:650px">
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-md-4 mb-5 mt-5">
                <h1><strong>Content 1</strong></h1>
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid" src="https://i.postimg.cc/qB2xKTqm/Captura-de-pantalla-2022-09-05-232957.png">
                <div class="mt-3">
                    <p class="text-secondary mt -5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="https://i.postimg.cc/qB2xKTqm/Captura-de-pantalla-2022-09-05-232957.png">
                <div class="mt-3">
                    <p class="text-secondary mt -5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="https://i.postimg.cc/qB2xKTqm/Captura-de-pantalla-2022-09-05-232957.png">
                <div class="mt-3">
                    <p class="text-secondary mt -5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-3">
                <img class="img-fluid" src="https://i.postimg.cc/qB2xKTqm/Captura-de-pantalla-2022-09-05-232957.png">
                <div class="mt-3">
                    <p class="text-secondary mt -5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>