<div class="container-fluid">
  <div class="row" style="height:750px">
    <div class="w-25 bg-primary text-white">
        <app-siderbar></app-siderbar>
    </div>
    <div class="w-75">
      <div class="container" breakpoint="lg" class="h-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>