<div class="card mt-5">
    <div class="card-body">
        <div class="row">
            <h1 class="mt-4"><b>NEW CLIENT</b></h1>
            <hr>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClient">Add client</button>                
        <hr>
        <div class="container">
            <form>
                <div class="form-group row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Rut</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Direccion</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.apellidos}}</td>
                                <td>{{cliente.rut}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td><button class="btn btn-primary" (click)="loadData(cliente)" data-bs-toggle="modal" data-bs-target="#editClient">Edit</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal addClient -->
<div class="modal fade" id="addClient" tabindex="-1" aria-labelledby="addClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addClientLabel">Add Client</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre(s)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su(s) nombre(s)" name="nombre" [(ngModel)]="newClient.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Apellido(s)</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su(s) apellido(s)" name="apellidos" [(ngModel)]="newClient.apellidos">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Ingrese su rut" name="rut" [(ngModel)]="newClient.rut">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" placeholder="Ingrese su telefono" name="telefono" [(ngModel)]="newClient.telefono">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Ingrese su direccion" name="direccion" [(ngModel)]="newClient.direccion">
                </div>
            </div>
            <div class="container">
                <div class="alert alert-success" role="alert" [hidden]="alert">
                  <h4 class="alert-heading">Alerta!</h4>
                  <p>Datos incompletos, para registrar cliente debe completar los datos.</p>
                  <hr>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardar()">Save changes</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal editClient -->
<div class="modal fade" id="editClient" tabindex="-1" aria-labelledby="editClientLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editClientLabel">Edit Client</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre(s)</label>
                <div class="col-sm-10">
                    <input *ngIf="detailClient" type="text" class="form-control" placeholder="Ingrese su(s) nombre(s)" name="nombre" [(ngModel)]="detailClient.nombre">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Apellido(s)</label>
                <div class="col-sm-10">
                    <input *ngIf="detailClient" type="text" class="form-control" placeholder="Ingrese su(s) apellido(s)" name="apellidos" [(ngModel)]="detailClient.apellidos">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Rut</label>
                <div class="col-sm-10">
                    <input *ngIf="detailClient" type="number" class="form-control" placeholder="Ingrese su rut" name="rut" [(ngModel)]="detailClient.rut">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Telefono</label>
                <div class="col-sm-10">
                    <input *ngIf="detailClient" type="number" class="form-control" placeholder="Ingrese su telefono" name="telefono" [(ngModel)]="detailClient.telefono">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Direccion</label>
                <div class="col-sm-10">
                    <input *ngIf="detailClient" type="text" class="form-control" placeholder="Ingrese su direccion" name="direccion" [(ngModel)]="detailClient.direccion">
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editClient()">Save changes</button>
        </div>
      </div>
    </div>
</div>
