<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Menu</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a routerLink="venta" class="nav-link active" aria-current="page">
            Nueva Venta
        </a>
    </li>
    <li>
        <a routerLink="listventa" class="nav-link text-white">
            Ventas
        </a>
    </li>
    <li>
        <a routerLink="cliente" class="nav-link text-white">
            Clientes
        </a>
    </li>
    <li>
        <a routerLink="proveedor" class="nav-link text-white">
            Proveedores
        </a>
    </li>
    <li>
        <a routerLink="vendedor" class="nav-link text-white">
            Vendedores
        </a>
    </li>
    <li>
        <a routerLink="producto" class="nav-link text-white">
            Productos
        </a>
    </li>
</ul>
